<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

        table th,
        table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #0080ff;
            color: white;
            user-select: none;
        }

        table tr:hover {
            background-color: #ddd;
        }
</style>

<table>
    <tr>
        <th onclick="SortByColumn('FirstName', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>
                First name
                <i class="fas fa-sort-alpha-up"></i>
            </a>
        </th>
        <th onclick="SortByColumn('LastName', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>
                Last name
                <i class="fas fa-sort-alpha-up"></i>
            </a>
        </th>
        <th onclick="SortByColumn('Username', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>
                Username
                <i class="fas fa-sort-alpha-up"></i>
            </a>
        </th>
        <th onclick="SortByColumn('Password', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>
                Password
                <i class="fas fa-sort-alpha-up"></i>
            </a>
        </th>
        <th onclick="SortByColumn('Email', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>
                Email
                <i class="fas fa-sort-alpha-up"></i>
            </a>
        </th>
        <th onclick="SortByColumn('Status', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>Status</a>
            <i class="fas fa-sort-alpha-up"></i>
        </th>
        <th onclick="SortByColumn('CreatedOn', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>Created on</a>
            <i class="fas fa-sort-alpha-up"></i>
        </th>
        <th onclick="SortByColumn('ModifiedOn', '@Model.PaginationQueryDto.OrderBy', @Model.PaginationDto.Page)">
            <a>Modified on</a>
            <i class="fas fa-sort-alpha-up"></i>
        </th>
        <th>
            <a>Edit user</a>
        </th>
        <th>
            <a>Delete user</a>
        </th>
        <th>
            <a>Assign permissions</a>
        </th>
    </tr>
    @foreach (var user in Model.PaginationDto.ModelList)
    {
    <tr>
        <td>
            @user.FirstName
        </td>
        <td>
            @user.LastName
        </td>
        <td>
            @user.Username
        </td>
        <td>
            @user.Password
        </td>
        <td>
            @user.Email
        </td>
        <td>
            @user.Status
        </td>
        <td>
            @user.CreatedOn
        </td>
        <td>
            @if (user.ModifiedOn != null)
            {
                @user.ModifiedOn
            }
            else
            {
                <p>-</p>
            }
        </td>
        <td>
            <a onclick="EditUser('@user.Id')" title="Edit user @user.FirstName @user.LastName"><i class="fas fa-user-edit"></i></a>
        </td>
        <td>
            <a onclick="DeleteUser('@user.Id')" title="Delete user @user.FirstName @user.LastName"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td>
            <a onclick="AssignPermission('@user.Id')" title="Assign permission to @user.FirstName @user.LastName"><i class="fas fa-plus-circle"></i></a>
        </td>
    </tr>
    }
</table>
<div class="pagination d-flex mt-2">
    @if (Model.PaginationDto.Page > 0)
    {
        int prevPage = Model.PaginationDto.Page - 1;
        <a onclick="Search('@Model.PaginationQueryDto.SortBy','@Model.PaginationQueryDto.OrderBy', @prevPage)" class="pr-2"><i class="fas fa-angle-double-left"></i></a>
    }

    <a> Page @(Model.PaginationDto.Page + 1) from @Model.PaginationDto.Pages </a>

    @if (Model.PaginationDto.Page + 1 < Model.PaginationDto.Pages)
    {
        int nextPage = Model.PaginationDto.Page + 1;
        <a onclick="Search('@Model.PaginationQueryDto.SortBy','@Model.PaginationQueryDto.OrderBy', @nextPage)" class="pl-2"><i class="fas fa-angle-double-right"></i></a>
    }
</div>
